@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,500,700&display=swap');
@import "colors";
@import "fonts";

$radius: 3px;

@mixin border($color) {
    border: 1px solid $color;
}


body {
    background-image: linear-gradient(180deg, $blue, $lightBlue);
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $font;
    font-weight: $font-normal;
}

.container {
    width: 600px;
    min-width: 300px;
    margin: 0 1.85rem;
    border-radius: $radius;
    background-color: $white;
    box-shadow: 0 0.3rem  0.5rem $darkGray-lighten;

    .banner {
        background-color: $darkGray;
        width: 100%;
        height: 3rem;
        border-top-left-radius: $radius;
        border-top-right-radius: $radius;
        color: $white;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.25rem 0;

        h1 {
            margin: 0;
        }
    }
}

.content {
    .weather-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        margin-bottom: 1rem;

        img {
            width: 70px;
            height: auto;
        }
    
        .current-weather {
            font-size: 1.75rem;
            font-weight: $font-bold;
            margin: 0.75rem 0;
        }
    
        .location {
            font-size: 1.25rem;
            font-weight: $font-medium;
        }
    }

    .weather-details {
        display: flex;
        justify-content: space-around;
        margin-bottom: 2rem;

        .details {
            display: flex;
            flex-direction: column;
            align-items: center;
            
            .title {
                font-size: 1.10rem;
                font-weight: $font-medium;
                color: $mediumGray;
                margin-bottom: 0.5rem;
            }
        }
    }

}

.search-city {
    display: flex;
    justify-content: center;
    margin: 0 auto 2rem auto;
    width: 80%;

    input {
        padding: 0.5rem;
        border-top-left-radius: $radius;   
        border-bottom-left-radius: $radius;   
        @include border($lightGray); 
        border-right: none;
        width: 90%; 

        &.error {
            @include border($red);

            &::placeholder{
                color: $red;
            }
            
        }

        &::placeholder {
            opacity: 0.7;
            font-family: $font;
        }
    }

    button {
        padding: 0.25rem;
        width: 2.85rem;
        border-top-right-radius: $radius;
        border-bottom-right-radius: $radius;
        @include border($lightGray-darken);
        border-left: none;
        background-color: $lightGray-darken;
        color: $white;
        cursor: pointer;

        &:hover{
            background-color: $lightGray;
            color: $lightGray-darken;
            @include border($lightGray);
        }

        i {
            font-size: 1.25rem;
            padding: 0.3rem;
        }
    }
}

a {
    position: absolute;
    bottom: 0.5rem;
    font-size: 0.85rem;
}
